:host{
    height: 100vh;
    display: block;
    background-color: #ad7d3c;
    border: 1px solid #ad7d3c;
}

.custom-card{
    width: 350px;
    max-width: 100%;
    background-color: white;
}
.user-icon{
    font-size: 100px;
    color: chocolate;
}
